@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

:root {
    --font: #424242;
    --bg: #0D47A1;
    --sub-bg: #212112;
    --block-bg: white;
}

.dark-mode {
    --font: white;
    --bg: #181818;
    --sub-bg: #262626;
    --block-bg: #323232;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg);
}

.header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-bg);
}

.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 30px;
}

.navbar {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.list-links {
    width: 87%;
    padding-left: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    font-size: 13px;
}

.list-links__item {
    margin-left: 50px;
    margin-right: 50px;
}

.toggle {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle__btn {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../img/white.png');
    background-repeat: no-repeat;
    border: 0;
    width: 50px;
    height: 50px;
}

/* CONTENT */

.content {
    width: 100vw;
    min-height: 100vh;
}

.inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    font-size: 40px;
    margin-top: 20vh;
    text-align: center;
}

.l {
    border-radius: 30px;
    border-top-left-radius: 0px;
}

.l .sub-block{
    margin-left: 100px;
}

.r {
    border-radius: 30px;
    border-top-right-radius: 0px;
}

.r .sub-block{
    margin-right: 100px;
}

.lending {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lending-block {
    width: 70vw;
    background-color: var(--block-bg);
    padding: 40px;
    margin-top: 15vh;
    display: flex;
    align-items: center;
}

.title {
    color: #E84AC8;
    font-size: 25px;
}

.small-text {
    color: var(--font);
    font-size: 20px;
    line-height: 2.5;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
}

.white {
    color: white;
}

.block-text {
    margin-top: 50px;
}

.duck__img {
    border-radius: 30px;
    width: 550px;
    height: 550px;
}

.sub-block {
    display: flex;
    flex-direction: column;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 25vh;
    margin-top: 10vh;
    background-color: var(--sub-bg);
}

.inner-footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    margin-left: 70px;
    margin-right: 70px;
}

/* MEDIA-REQUEST */

@media (max-width: 1399px){
    .small-text {
        font-size: 14px;
    }

    .logo-text {
        font-size: 20px;
    }

    .welcome-text {
        font-size: 30px;
    }

    .title {
        font-size: 15px;
    }

    .l .sub-block {
        margin-left: 50px;
    }

    .r .sub-block {
        margin-right: 50px;
    }

    .duck__img {
        width: 430px;
        height: 430px;
    }
}

@media (max-width: 1199px) {
    .logo-text {
        font-size: 22px;
    }

    .img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .list-links {
        padding-left: 3%;
        justify-content: center;
    }

    .link {
        font-size: 11px;
    }

    .list-links__item {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-item {
        margin-left: 25px;
        margin-right: 25px;
    }

    .welcome-text {
        font-size: 22px;
        margin-top: 15vh;
    }

    .title {
        font-size: 19px;
    }

    .small-text {
        font-size: 15px;
    }

    .lending {
        margin-top: 0;
    }

    .lending-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .l .sub-block {
        margin-left: 17%;
        margin-right: 17%;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .r .sub-block {
        margin-left: 17%;
        margin-right: 17%;
        margin-top: 0;
        margin-bottom: 70px;
    }

    .sub-block {
        display: flex;
        justify-content: center;
    }

    .block-text {
        margin-top: 15px;
    }

    .footer-item {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 991px) {
    .logo {
        width: 35%;
    }

    .link {
        font-size: 10px;
    }

    .list-links {
        padding-left: 0;
        width: 100%;
    }

    .list-links__item {
        margin-left: 15px;
        margin-right: 15px;
    }

    .title {
        font-size: 15px;
    }

    .small-text {
        font-size: 15px;
    }

    .welcome-text {
        font-size: 17px;
        margin-top: 10vh;
    }

    .logo-text {
        font-size: 18px;
    }

    .lending {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-item {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        height: 45vh;
        padding-top: 5vh;
    }

    .logo {
        width: 35%;
        height: 5vh;
        margin-top: 3vh;
    }

    .navbar {
        margin-top: 3vh;
    }

    .link {
        font-size: 10px;
    }

    .list-links {
        padding-left: 0;
        width: 100%;
        flex-direction: column;
    }

    .list-links__item {
        margin-left: 15px;
        margin-right: 15px;
    }

    .title {
        font-size: 14px;
    }

    .small-text {
        font-size: 15px;
    }

    .welcome-text {
        font-size: 19px;
        margin-top: 10vh;
    }

    .logo-text {
        font-size: 18px;
    }

    .l .sub-block {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .r .sub-block {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0;
        margin-bottom: 70px;
    }

    .sub-block {
        display: flex;
        justify-content: center;
    }

    .lending {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-item {
        margin-left: 20px;
        margin-right: 20px;
    }

    .inner-footer {
        flex-wrap: wrap;
    }

    .duck__img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 479px) {
    .header {
        flex-direction: column;
        height: 45vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
    }

    .inner-content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .logo {
        width: 100vw;
        justify-content: center;
        margin-top: 5vh;
    }

    .logo-text {
        font-size: 18px;
    }

    .list-links {
        flex-direction: column;
        margin-top: 0vh;
    }

    .list-links__item {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .welcome-text {
        font-size: 15px;
        line-height: 1.7;
        margin-top: 10vh;
    }

    .small-text {
        font-size: 12px;
    }

    .title {
        font-size: 10px;
    }

    .lending {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    .lending-block {
        padding: 35px;
    }

    .footer {
        height: 25vh;
    }

    .inner-footer {
        flex-direction: column;
    }

    .footer-item {
        margin-top: 30px;
    }

    .toggle {
        margin-top: 15vh;
    }
}

@media (max-width: 320px) {
    .header {
        flex-direction: column;
        height: 30vh;
        padding-bottom: 7vh;
    }

    .inner-content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .logo {
        width: 100%;
    }

    .logo-text {
        font-size: 18px;
    }

    .list-links {
        flex-direction: column;
    }

    .list-links__item {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .welcome-text {
        font-size: 18px;
        line-height: 1.7;
        margin-top: 10vh;
    }

    .small-text {
        font-size: 9px;
    }

    .title {
        font-size: 10px;
    }

    .lending {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    .lending-block {
        padding: 20px;
    }

    .footer {
        height: 25vh;
    }

    .inner-footer {
        flex-direction: column;
    }

    .footer-item {
        margin-top: 30px;
    }
}